# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.gas-snapshot

# Coverage
lcov.info

# backend test 
backend_merry_test/target
backend_merry_test/.env
backend_merry_test/Cargo.lock